/* Default Styles*/

html {
    font-family: DM Sans, Helvetica, Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    display: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
}


/* Default Styles*/


/* Variable Declarations */

:root {
    --text-color: hsl(205, 100%, 10%);
    --text-color-secondary: hsl(205, 100%, 10%);
    --gold: hsl(45, 50%, 55%);
    --bg: hsl(0, 0%, 93%);
    --bg-secondary: hsl(0, 0%, 100%);
    --border-color: hsl(0, 0%, 85%);
    /* :root exclusives*/
    --overlay-25: rgba(0, 0, 0, 0.25);
    --overlay-50: rgba(0, 0, 0, 0.5);
    --overlay-90: rgba(0, 0, 0, 0.9);
    --border-radius: 5px;
    --opacity: 0.9;
    --transition-speed: 0.3s;
    --text-shadow: hsl(205, 60%, 10%);
}

.dark-mode {
    --text-color: hsl(0, 0%, 90%);
    --gold: hsl(45, 50%, 55%);
    --bg: hsl(205, 60%, 10%);
    --bg-secondary: hsl(205, 60%, 15%);
    --border-color: hsl(205, 60%, 15%);
}


/* Variable Declarations */


/* Variable Usage */

body {
    background-color: var(--bg);
    color: var(--text-color);
    transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: var(--text-color);
    margin: 0;
    padding: 0;
}


/* Variable Usage */


/* Bootstrap-Vue Override */

.navbar-light .navbar-nav .nav-link {
    color: var(--color-primary);
}

.navbar-brand {
    margin-right: 0;
}

.carousel-caption {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.card {
    background-color: var(--bg-secondary);
    border: 0;
}

.card-img {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.card-title {
    margin: 0;
}

.card-body {
    padding: 0;
}

.card-footer {
    background-color: var(--bg);
}

.form-control {
    height: auto;
    color: var(--gold);
}


/* Bootstrap-Vue Override */


/* Custom Classes */

.full-width {
    width: 100%;
}

.flx-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    background-image: linear-gradient( to bottom, hsla(0, 100%, 50%, 0), var(--bg));
}

.dark-radial-overlay {
    background-image: radial-gradient( circle, var(--overlay-90), var(--overlay-50));
}

.gold-btn {
    background-color: var(--bg);
    border: 1px solid var(--gold);
    color: var(--gold);
}

.gold-btn:hover {
    color: var(--gold);
    background-color: var(--bg-secondary);
    border: 1px solid var(--gold);
}

.gold-btn a {
    color: var(--gold);
}

.gold-btn a:link {
    color: var(--gold);
}

.gold-btn a:visited {
    color: var(--gold);
}

.gold-btn a:hover {
    color: var(--gold);
    text-decoration: none;
}

.gold-btn a:active {
    color: var(--gold);
}

.margin-x-1rem {
    margin-left: 1rem;
    margin-right: 1rem;
}

.margin-y-1rem {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.margin-x-2rem {
    margin-left: 2rem;
    margin-right: 2rem;
}

.margin-y-2rem {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* Custom Classes */


/* Queries */

@font-face {
    font-family: Cormorant-Garamond;
    src: url("~/static/fonts/CormorantGaramond.ttf");
}

@font-face {
    font-family: DM-Sans;
    src: url("~/static/fonts/DMSans.ttf");
}

@font-face {
    font-family: Great-Vibes;
    src: url("~/static/fonts/GreatVibes.ttf");
}

@font-face {
    font-family: Bellefair;
    src: url("~/static/fonts/Bellefair.ttf");
}


/* Queries */